body {
    margin: 0;
    padding: 0;
    background-color: #6B9AC4;
}
header {
    text-align: center;
    margin: 10px 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
}
#buttons-panel {
    background-color: #3066BE;
    width: 700px;
    height: 65px;
    text-align: center;
    border: 4px solid #031927;
    border-radius: 10px;
    margin: 7px auto;
}

button {
    height: 45px;
    text-align: center;
    font-size: 16px;
    margin: 10px 8px;
    border: 3px solid #031927;
    background-color: #4B7FD2;
    color: white;
    font-weight: bold;
}
button:hover {
    background-color: #6C96DA;
}
#grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    padding: 0;
    width: 480px;
    height: 480px;
    border: 7px solid #031927;
    border-radius: 5px;
    margin: 0 auto;
}
.grid-elements-size {
    height: 30px; 
    width: 30px; 
}
.blank-grid-elements {
    background-color: white;
    outline: 1px solid;
}
.used-grid-elements {
    background-color: black; 
    outline: 1px solid;
}
